@import url('https://fonts.googleapis.com/css?family=Questrial');

body {
  font-family: 'Questrial', sans-serif;
}

.navbar {
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9;
}

.navbar ul {
  list-style: none;
  padding: 0;
}

.navbar ul li {
  display: inline-block;
  padding: 20px;
  color: rgba(255,255,255,0.9);
}

.navbar .navbar-left li a {
  color: rgba(255,255,255,0.9);
  font-weight: bold;
  font-size: 28px;
}

.navbar .navbar-left li a:hover {
  text-decoration: none;
  opacity: 1;
}

.navbar .navbar-right li a {
  color: rgba(255,255,255,0.9);
  font-weight: bold;
  font-size: 18px;
}

.cool-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: rgba(255,255,255,0.9);
  transition: width 0.3s;
}

.cool-link:hover {
  opacity: 1;
  text-decoration: none;
}

.cool-link:hover::after {
  width: 100%;
  transition: width .3s;
}

.player-photo {
  height: 250px;
  background-size: cover;
}

.banner {
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.8) 0%, rgba(0,36,61,0.7) 50%), url('../images/stadium.jpg');
  background-size: cover;
  background-repeat:no-repeat;
  background-position:center;
  height: 70vh;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  text-align: center;
  color: rgba(255,255,255,0.9);
  align-items: center;
}

.banner, h1 {
  font-size: 4vw;
  font-weight: bold;
}

.players-section {
  padding: 50px;
}

.player-card {
  padding: 15px;
  margin: 20px 30px;
  border-radius: 3px;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
  outline: none;
  text-align: center;
}

.player-name {
  display: block;
  background-color: #dfca70;
  text-align: center;
  color: #fff;
  padding: 10px;
  margin: 10px -30px;
  box-shadow: 1px 1px 8px rgba(0,0,0,0.2);
  font-size: 16px;
}

.player-club {
  font-size: 20px;
  font-weight: bolder;
}

.player-num {
  font-size: 50px;
  color: #dfca70;
  position: absolute;
  top: 30px;
  left: 50px;
}

.player-life {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player-life p {
  font-size: 25px;
  margin-bottom: 0;
}

.flags-container {
  display: flex;
  padding: 5px 10px;
  margin: 5px 10px;
}

.flags {
  width: 20px;
  height: 100%;
  margin-left: 5px;
}

.player-goals {
  display: flex;
  justify-content: center;
}

.player-goals img {
  width: 20px;
  height: 100%;
  margin-left: 10px;
}

.slick-dots {
  list-style: none;
  text-align: center;
  padding-left: 0;
}

.slick-dots li {
  display: inline-block;
}

.slick-dots li button {
  border: none;
  color: rgba(0,0,0,0.6);
  outline: none;
}

.slick-active button {
  color: #dfca70 !important;
}
