@import url('https://fonts.googleapis.com/css?family=Questrial');

body {
  font-family: 'Questrial', sans-serif;
  color: rgba(0,0,0,0.6);
}

p {
  font-size: 16px;
}

h2 {
  margin-top: 0;
  color: #000;
}

.container {
  background-color: rgba(200,200,200,0.1);
  padding: 10px;
  margin-top: 30px;
}

.navbar {
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9;
  transition: all 1s;
}

.navbar ul {
  list-style: none;
  padding: 0;
}

.navbar ul li {
  display: inline-block;
  padding: 20px;
}

.navbar .navbar-left li a {
  transition: all 1s;
  color: rgba(255,255,255,0.9);
  font-weight: bold;
  font-size: 28px;
}

.navbar .navbar-left li a:hover {
  text-decoration: none;
  opacity: 1;
}

.navbar .navbar-right li a {
  color: rgba(255,255,255,0.9);
  font-weight: bold;
  font-size: 18px;
}

.cool-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: rgba(255,255,255,0.9);
  transition: width 0.3s;
}

.cool-link:hover {
  opacity: 1;
  text-decoration: none;
}

.cool-link:hover::after {
  width: 100%;
  transition: width .3s;
}

.banner {
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.8) 0%, rgba(0,36,61,0.7) 50%), url('../images/stadium.jpg');
  background-size: cover;
  background-repeat:no-repeat;
  background-position:center;
  height: 70vh;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  text-align: center;
  color: rgba(255,255,255,0.9);
  align-items: center;
}

.banner h1 {
  font-size: 4vw;
  font-weight: bold;
}

.what-we-do, .who-we-are, .contact {
  margin: 60px 0;
}

.portfolio h2 {
  margin-left: 102.5px;
  margin-bottom: 0;
}

.player-photo {
  height: 250px;
  background-size: cover;
}

.players-section {
  padding: 50px;
}

.players-section button {
  background-color: transparent
}

.player-card {
  padding: 15px;
  margin: 20px 30px;
  border-radius: 3px;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
  outline: none;
  text-align: center;
}

.player-name {
  display: block;
  background-color: #dfca70;
  text-align: center;
  color: #fff;
  padding: 10px;
  margin: 10px -30px;
  box-shadow: 1px 1px 8px rgba(0,0,0,0.2);
  font-size: 16px;
}

.player-club {
  font-size: 20px;
  font-weight: bolder;
}

.player-num {
  font-size: 50px;
  color: #dfca70;
  position: absolute;
  top: 30px;
  left: 50px;
}

.player-life {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player-life p {
  font-size: 25px;
  margin-bottom: 0;
}

.flags-container {
  display: flex;
  padding: 5px 10px;
  margin: 5px 10px;
}

.flags {
  width: 20px;
  height: 100%;
  margin-left: 5px;
}

.player-goals {
  display: flex;
  justify-content: center;
}

.player-goals img {
  width: 20px;
  height: 100%;
  margin-left: 10px;
}

.slick-dots {
  list-style: none;
  text-align: center;
  padding-left: 0;
}

.slick-dots li {
  display: inline-block;
}

.slick-dots li button {
  border: none;
  color: rgba(0,0,0,0.6);
  outline: none;
}

.slick-active button {
  color: #dfca70 !important;
}

.coordonates {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 30px;
}

.coordonates a {
  font-size: 22px;
  color: rgba(0,0,0,0.6);
  text-decoration: none;
}

.coordonates a:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.footer {
  background-color: rgba(200,200,200,0.1);
}

.footer ul {
  margin: 0;
  padding: 30px 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer ul li a {
  font-size: 26px;
  color: rgba(0,0,0,0.6);
  margin: 20px;
  cursor: pointer;
}

.footer ul li a:hover {
  color: rgba(0,0,0,1);
}

@media screen and (max-width: 800px) {
  .banner h1 {
    font-size: 8vw;
    font-weight: bold;
  }
}

@media screen and (max-width: 500px) {
  .banner h1 {
    font-size: 10vw;
    font-weight: bold;
  }
}

@media screen and (max-width: 500px) {
  .players-section {
    padding: 0;
  };
}

@media screen and (max-width: 500px) {
  .portfolio h2 {
    margin-left: 15px;
  };
}


@media screen and (max-width: 500px) {
  .coordonates {
    flex-direction: column;
    margin: 0;
  }
}


/* Dropdown */

.custom-dropdown {
  display: none;
  width: max-content;
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 99;
  font-weight: lighter;
  transition: all 1s;
}

.custom-dropdown ul {
  background-color: rgba(255,255,255,0.9);
}

.custom-dropdown li {
  display: flex;
  align-items: center;
  padding: 15px;
}

.custom-dropdown i {
  margin-right: 10px;
  cursor: pointer;
}

#list-dropdown {
  display: none;
  list-style: none;
  padding: 30px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
}

#icon-dropdown {
  color: rgba(255,255,255,0.9);
  font-size: 40px;
  position: relative;
  margin-right: 10px;
  left: calc(100% - 35px);
  cursor: pointer;
  transition: all 0.5s;
}

#icon-dropdown:hover {
  color: rgba(255,255,255,1);
}

@media screen and (max-width: 800px) {
  .custom-dropdown {
    display: block;
  };
}


@media screen and (max-width: 800px) {
  .navbar {
    display: none;
  };
}
